@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 790px;
  align-items: center;
  margin: auto;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  gap: 5px;
}

.count {
  font-family: Inter;
  padding: 10px 135px;
  border-radius: 8px;
  background: #5e55d6;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

input {
  padding: 10px 108px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  background: #fff;
}
